# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/uploads/

# Environment variables
.env
.env.local

# IDEs & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

datadump.json
blog_platform.sql
explanation.txt
final_explanation.txt

